
input(type="email", required="required", name="email", placeholder="Введите Ваш email")
input(type="password", required="required", name="password", placeholder="Введите Ваш пароль")
input(type="submit", value="Вход")