style
    include About.css

div.container 
    h1 Ребята, не стоит вскрывать эту тему.
    p.
        Вы молодые, шутливые, вам все легко. Это не то.<br/>
        Это не Чикатило и даже не архивы спецслужб. Сюда лучше не лезть.<br/>
        Серьезно, любой из вас будет жалеть. Лучше закройте тему и забудьте что тут писалось.<br/>
        Я вполне понимаю что данным сообщением вызову дополнительный интерес, но хочу сразу предостеречь пытливых - стоп.<br/>
        Остальные просто не найдут.
    img(src= "https://bigpicture.ru/wp-content/uploads/2012/07/cats-32.jpg")