style
    include About.css

div.container
    h1 Как до нас добраться.
    p.
        Наш адрес: 105005, Россия, Москва, ул. 2-я Бауманская, 5
    iframe(src='https://yandex.ru/map-widget/v1/?um=constructor%3A4af83d4512c4b399723a1a6d96c459f3a968521264818056ae92b2c7a5b0eb78&source=constructor' width='708' height='642' frameborder='0')
