style
    include About.css

div.container 
    h1 Добро пожаловать на сайт нашего любимого кинотеатра.
    p.
        Просматривайте карточки новых фильмов и трейлеры к ним.<br/>
        Выбирайте удобное время и понравившееся место.<br/>
        Не забывайте приходить на ваш сеанс.<br/>
        Очень скоро мы добавим сервис такси для того, чтобы Вам было еще удобнее добираться к нам.<br/>
        Но это не точно...
    img(src= "http://zanta.in/assets/images/Cinema.jpg")