.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu-el-right {
    float: right;
}

.menu-el-left {
    float: left;
}

.inner-menu-element {
    display: block;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 90px;
    transition-property: transform;
    transition-duration: 0.25s;
}

.inner-menu-element:hover {
    transform: translateY(-5px);
}

.inner-menu-element:active {
    transform: translateY(-5px) scale(1.33);
}