mixin item-right(title, href, section)
	li.menu-el-right
		a.inner-menu-element(href=href data-section=section)= title
mixin item-left(title, href, section)
	li.menu-el-left
		a.inner-menu-element(href=href data-section=section)= title

ul.menu
	+item-left('Афиша', '/poster', 'poster')
	+item-right('О нас', '/about', 'about')
	//- if authorized
	+item-left('Выход', '/signout', 'signout')
	+item-left('Профиль', '/profile', 'profile')
	//- unless authorized
	+item-left('Вход', '/signin', 'signin')
	+item-left('Регистрация', '/signup', 'signup')