.popup-window {
    display: flex;
    flex-direction: column;
    min-width: 600px;
    min-height: 400px;
    width: 50%;
    padding: 10px;
    z-index: 100;
    background: rgba(13, 13, 13, 0) linear-gradient(135deg, rgb(115, 32, 27) 0%, rgb(74, 27, 104) 70%);
    border: 2px solid white;
    color: white;
}

.popup-desc-wrapper {
    display: flex;
    flex-direction: row;
    /* border: 1px solid green; */
    padding: 5px;
}

.popup-poster {
    margin-right: 25px;
    height: 50vh;
}

.popup-desc {
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
    padding: 5px;
}

.popup-sessions-list-wrapper {
    display: flex;
    /* border: 1px solid red; */
    padding: 5px;
    overflow: auto;
    z-index: 1;
}

.popup-session-item {
    height: 50px;
    font-size: 14px;
    margin: 10px;
    align-content: center;
    justify-content: center;
}

.popup-seat-item {
    height: 35px;
    width: 35px;
    font-size: 10px;
    margin: 10px;
    align-content: center;
    justify-content: center;
}

.popup-session-seats-wrapper {
    z-index: 2;
}

.text {
    color: red;
}