.popup-window {
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    padding: 10px;
    z-index: 100;
    background-color: rgba(45,48,52,1);
    border: 1px solid #3f4247;
    color: white;
    overflow: hidden;
    overflow-y: auto;
    align-items: center;
    transform: translate(-50%, -50%);
}

.popup-desc-wrapper {
    display: flex;
    flex-direction: row;
    /* border: 1px solid green; */
    padding: 5px;
}

.popup-poster {
    margin-right: 25px;
    height: 50vh;
    width: 33vh;
}

.popup-desc {
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
    padding: 5px;
}

.popup-sessions-list-wrapper {
    display: flex;
    /* border: 1px solid red; */
    padding: 5px;
    overflow: auto;
    z-index: 1;
}

.popup-session-item {
    height: 35px;
    font-size: 14px;
    margin: 10px;
    align-content: center;
    justify-content: center;
}

.popup-seat-item {
    display: flex;
    flex-direction: column;
    height: 75px;
    width: 75px;
    font-size: 10px;
    margin: 10px;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.popup-seat-item-disabled {
    display: flex;
    flex-direction: column;
    height: 75px;
    width: 75px;
    font-size: 10px;
    margin: 10px;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: white;
    opacity: 0.5;
}


.popup-seat-item:hover {
    cursor: pointer;
    background-color: #cccccc;
}

.popup-seat-item:active {
    background-color: #777777;
}

.popup-seat-item:disabled {
    opacity: 0.5;
    cursor: none;
}

.popup-seat-item__info {
    color: black;
    justify-self: center;
}

.popup-session-seats-wrapper {
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.popup-session-seats-wrapper__row {
    display: flex;
    flex-direction: row;
}

.text {
    color: red;
}
