@import url('components/Profile/Profile.css');
@import url('components/Menu/Menu.css');

a, input{
	display: block;
}
 body{
     font-family: 'Gudea', sans-serif;
     background: linear-gradient(135deg, #EA5C54 0%, #bb6dec 100%);
 }
