style
    include Signin.css
div.container
    form
        input.field(type="email" name="email" placeholder="e-mail")
        input.field(type="password" name="password" placeholder="Пароль")
        input#btn(type="submit" value="Войти")