style
    include Search.css

mixin card-deck(poster, title, genre, id)
    div(class='card')
        a(class='card-item' href= `film/${id}` style=`background-image: url(${poster})`)
        div(class = "card-item-blur")
            h1 #{title}
            a(href= `film/${id}` data-section="films") Подробнее

div.container
    table
        tr
            th
                a(id = 'today' onclik = '/allfilms&today' href= '/allfilms&today') Сегодня
            th
                a(id = 'upcoming' onclik = '/allfilms&upcoming' href= '/allfilms&upcoming') Скоро
            th
                a(id = 'wide-search' onclik = '/search' href= '/search') Расширенный поиск
            th(style="float: none")
                form(id = 'search')
                    input(id = 'search-input' type='text' style= "float: right"  placeholder= "Поиск")
    .body
        table
            tr
                th
                    .search-params
                        form.search-form.js-search-form
                            .title  Расширенный поиск
                            .search-form__input
                                div Жанры
                                input#js-genre-input.input(name='genres' type='text' placeholder='Ужасы, комедия' value='')
                            .search-form__input
                                div Актеры
                                input#js-actor-input.input(name='persons' type='text' placeholder='Бред Питт, Линдси Лохан' value='')
                            .search-form__input
                                div Рейтинг
                                input#js-ratingmin-input.input(name='ratingmin' type='text' placeholder='3' value='')
                            .search-form__input
                                div Страна
                                input#js-country-input.input(name='countries' type='text' placeholder='Россия' value='')
                            .search-form__input
                                div Год от
                                input#js-yearmin-input.input(name='yearmin' type='text' placeholder='1997' value='')
                                div до
                                input#js-yearmax-input.input(name='yearmax' type='text' placeholder='2015' value='')
                            .search-form__input
                                div Цена от
                                input#js-pricemin-input.input(name='yearmin' type='text' placeholder='100' value='')
                                div до
                                input#js-pricemax-input.input(name='yearmax' type='text' placeholder='800' value='')
                            .search-form__input
                                p
                                    | Дата
                                    input#js-date-input.input(type='date' name='calendar')
                            .search-form__input
                                p
                                    | Время сеанса от
                                    input#js-timemin-input.input(type='time' name='calendar')
                                    | До
                                    input#js-timemax-input.input(type='time' name='calendar')
                            input#js-search-params.button(type='submit' value='Применить')

                th
                    .container
                        each val in items
                            +card-deck(val.poster, val.title, val, val.id)
