style
    include Register.css
div.container
    form
        input.field(type="email" name="email" placeholder="e-mail")
        input.field(type="password" name="password" placeholder="Пароль")
        input.field(type="number" name="age" placeholder="Возраст")
        input#btn(type="submit" value="Зарегистрироваться")