style
    include Register.css
div.container
    form
        input.field(type="email" name="email" placeholder="e-mail")
        input.field(type="password" name="password" placeholder="Пароль")
        input.field(type="nickname" name="nickname" placeholder="Nickname")
        input#btn(type="submit" value="Зарегистрироваться")