style
    include Register.css
div.container
    form
        input.field(type="email" name="email" placeholder="e-mail")
        h5#emailLabel(style="color:red; font-style:italic;")
        input.field(type="password" name="password" placeholder="Пароль")
        h5#passwordLabel(style="color:red; font-style:italic;")
        input.field(type="nickname" name="nickname" placeholder="Nickname")
        h5#nicknameLabel(style="color:red; font-style:italic;")
        input.field(type="FirstName" name="FirstName" placeholder="FirstName")
        input.field(type="SecondName" name="SecondName" placeholder="SecondName")
        //input(type='checkbox' name='genre' value='Ужасы')
        //|    Ужасы
        //br
        //input(type='checkbox' name='genre' value='Драма')
        //|    Драма
        //br
        //input(type='checkbox' name='genre' value='Боевик')
        //|   Боевик
        //br
        //input(type='checkbox' name='genre' value='Триллер')
        //|   Триллер
        //br
        //input(type='checkbox' name='genre' value='Фантастика')
        //|   Фантастика
        //br
        //input(type='checkbox' name='genre' value='Аниме')
        //|   Аниме
        //br
        //input(type='checkbox' name='genre' value='Биографический')
        //|   Биографический
        //br
        //input(type='checkbox' name='genre' value='Вестерн' )
        //|   Вестерн
        //br
        //input(type='checkbox' name='genre' value='Научая фантастика' )
        //|   Научая фантастика
        //br
        p Выберите любимые жанры
        ul.register-el
            li.row-el Драма
            li.row-el.checked  Триллер
            li.row-el Фантастика
            li.row-el Комедия
            li.row-el Приключения
            li.row-el Мультфильм

        input#btn(type="submit" value="Зарегистрироваться")
