style
	include Menu.css
mixin item-right(id, title, href, section)
	li.menu-el-right
		a.inner-menu-element(id=id href=href data-section=section)= title
mixin item-left(title, href, section)
	li.menu-el-left
		a.inner-menu-element(href=href data-section=section)= title


ul.menu
	+item-left('Афиша', '/', 'poster')
	+item-left('О нас', '/about', 'about')
	//- if authorized
	if Auth
		+item-right('logout', 'Выход', '/logout', 'logout')
		+item-right('profile', 'Профиль', '/profile', 'profile')
	//- unless authorized
	else
		+item-right('register','Регистрация', '/register', 'register')
		+item-right('login','Вход', '/login', 'login')
