mixin item-right(title, href, section)
	li.menu-el-right
		a.inner-menu-element(href=href data-section=section)= title
mixin item-left(title, href, section)
	li.menu-el-left
		a.inner-menu-element(href=href data-section=section)= title

- const getCookie = (name) => {var re = new RegExp(name + "=([^;]+)"); var value = re.exec(document.cookie); return (value != null) ? unescape(value[1]) : null;}

ul.menu
	+item-left('Афиша', '/poster', 'poster')
	+item-left('О нас', '/about', 'about')
	//- if authorized
	if getCookie('id') != null
		+item-right('Выход', '/signout', 'signout')
		+item-right('Профиль', '/profile', 'profile')
	//- unless authorized
	else
		+item-right('Регистрация', '/signup', 'signup')
		+item-right('Вход', '/signin', 'signin')