.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2c3e50;
}

.menu-element {
    float: left;
}

.inner-menu-element {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu-element:last-child {
    float: right;
}

.inner-menu-element:hover {
    background-color: #2c3e50;
}

.active {
    background-color: #2c3e50;
}