style
    include Poster.css
-var title = "Joker"
-var href ="https://static.karofilm.ru/uploads/film/desktop/e3/b6/4b/5215d5811b80298172dad73fd1.jpg"
-var filmUrl="/about"
mixin card-deck(title, href, filmUrl)
    .wrapper
        div(class='card')
            div(class='card-item')
                img(src= href)
            div(class = "card-item-blur hidden-xs blur" src = href)
                h1= title
                a(onclick= "/about" href= "/about" data-section="about") Подробнее
        div(class='card')
            div(class='card-item')
                img(src= href)
                h1= title
                a(onclick= "/about" href= "/about" data-section="about") Подробнее
        div(class='card')
            div(class='card-item')
                img(src= href)
                h1= title
                a(onclick= "/about" href= "/about" data-section="about") Подробнее
        div(class='card')
            div(class='card-item')
                img(src= href)
                h1= title
                a(onclick= "/about" href= "/about" data-section="about") Подробнее

.body
    -var number = 3
    while number > 1
        +card-deck(title, href)
        -number--